<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style-forgetpass.css" />
    <title>forgetpassword</title>
  </head>
  <body>
    <div class="container">
      <div class="form">
        <form class="signUp">
          <div class="formGroup">
            <input
              name="username"
              type="email"
              id="email"
              placeholder="email"
              required
              autocomplete="off"
            />
          </div>

          <div class="formGroup">
            <button id="login-but" type="button" class="btn2">send</button>
          </div>

          <div style="text-align: center"><p id="err" class="error"></p></div>

          <p
            style="
              font-weight: 600;
              font-size: 14px;
              text-align: center;
              margin-top: 10px;
            "
          >
            Dont have an account?<a href="http://localhost:3000/signup"
              >signup here</a
            >
          </p>
        </form>
      </div>
    </div>
    <script src="/javascripts/forget.js"></script>
  </body>
</html>
